/*LOGO-PAGE-ACCUEIL*/

.main-logo-box {
  display: flex;
  justify-content: center;
  padding: 22px 0 12px 0;
  &__omf {
    @include logo-size;
  }

  /*LOGO-PAGES-MENU*/

  &__menu {
    align-items: center;

    /*FLECHE*/
    &--link {
      position: absolute;
      left: 20px;
      img {
        @include icon-size-2;
      }
    }
  }
}
