.logo {
  @include flex-center;
  margin: 0;
  padding: 22px 0px 12px 0;

  &--menu {
    width: 100%;
    &--lnk {
      flex-shrink: 0;
      position: absolute;
      left: 20px;
    }
  }
  &__oh {
    @include logo-size;
  }
  &__fleche {
    @include icon-size-2;
  }
}
