/*RESTAURANTS-PAGES*/

/*RESTAURANT-PICTURE*/

.restaurantPictureBox {
  width: 110%;
  height: 260px;
  background-size: cover;
  background-position: top 0 right 15px;
  background-repeat: no-repeat;
  background-image: url(/sources/img/resto_1.jpg);
  /*LA NOTE ENCHANTEE*/
  &--restaurant2 {
    width: 100%;
    background-position: center;
    background-image: url(/sources/img/resto_2.jpg);
  }
  /*A LA FRANCAISE*/
  &--restaurant3 {
    background-image: url(/sources/img/resto_3.jpg);
  }
  /*LE DELICE DES SENS*/
  &--restaurant4 {
    background-position: center;
    background-image: url(/sources/img/resto_4.jpg);
  }
  &__bottomStripe {
    width: 91%;
    height: 40px;
    background-color: $couleur-section;
    position: relative;
    top: 220px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    &--restaurant2 {
      width: 100%;
    }
  }
}

/*MENU*/

.menuBox {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: $couleur-section;
  width: 100%;
  &__title {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-family: "shrikhand";
      margin: 0 0 0 5px;
      font-size: 1.6em;
    }
  }
  &__mainGroup {
    width: 90%;
  }
  &__category {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 45px 0 5px 5px;
  }
  &__greenUnderline {
    width: 40px;
    height: 3px;
    background-color: $couleur-tertiaire;
    margin: 0 0 15px 5px;
  }
  &__item {
    overflow: hidden;
    display: flex;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 17px;
    box-shadow: gray 1px 1px 8px;
    animation: transformY 1s ease-in-out, normalMarginSpace 1s ease-in-out;

    &__text {
      width: 100%;
      overflow: hidden;
      h2 {
        letter-spacing: 0.5px;
        font-size: 1em;
        padding-top: 15px;
        margin: 0 0 8px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        margin: 0 0 10px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9em;
      }
    }
    &__price {
      font-weight: bold;
      padding: 0 20px 9px 20px;
      display: flex;
      align-items: flex-end;
    }
    &__hoverBox {
      flex-shrink: 0;
      width: 0;
      transition: width 0.5s;
      background-color: #99e2d0;
      &__element {
        padding-top: 25px;
        padding-left: 20px;
        svg {
          fill: white;
          width: 20px;
          height: 20px;
        }
      }
    }
    &:hover {
      cursor: pointer;
    }
    &:hover .menuBox__item__hoverBox {
      width: 60px;
      transition: width 0.5s;
      background-color: #99e2d0;
    }
    &:hover svg {
      animation: checkIconRoll 0.5s;
      transform: rotate(360deg);
    }
  }
  /*SVG-CHECK-ANIMATION*/

  @keyframes checkIconRoll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /*ITEMS-ANIMATION*/

  @keyframes transformY {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes normalMarginSpace {
    from {
      margin-bottom: 20px;
    }
    to {
      margin-bottom: 15px;
    }
  }
}

/*RESPONSIVE-RESTAURANT-PICTURE*/

@media screen and (min-width: 390px) {
  .restaurantPictureBox {
    background-position: 50% 50%;
  }
}

/*SVG-HEART + ANIMATION*/

.g {
  &__path {
    fill: $couleur-section;
    stroke: black;
    stroke-width: 30px;
    &--acc {
      fill: transparent;
    }
  }
  rect {
    height: 100%;
    width: 100%;
    fill: transparent;
  }
}
.card {
  &--b {
    &:hover {
      cursor: pointer;
      rect {
        fill: $grd-b;
        transform: translateY(-100%);
        animation-name: test;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.64, 0.35, 1, 0.88);
      }
    }
  }
  &--c {
    &:hover {
      cursor: pointer;
      rect {
        fill: $grd-c;
        transform: translateY(-100%);
        animation-name: test;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.64, 0.35, 1, 0.88);
      }
    }
  }
  &--d {
    &:hover {
      cursor: pointer;
      rect {
        fill: $grd-d;
        transform: translateY(-100%);
        animation-name: test;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.64, 0.35, 1, 0.88);
      }
    }
  }
  &--acc {
    position: relative;
    float: right;
    bottom: 40px;
  }
  width: 20px;
  height: 20px;
  margin-right: 30px;
  svg {
    width: 25px;
    height: 25px;
  }
  &:hover {
    cursor: pointer;
    rect {
      fill: $grd;
      transform: translateY(-100%);
      animation-name: test;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.64, 0.35, 1, 0.88);
    }
  }
}
@keyframes test {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
