/*ACC*/

.loc {
  @include flex-center;
  background-color: #eaeaea;
  padding: 16px 30px 16px 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px 0px inset;
  img {
    @include icon-size;
    margin-right: 18px;
  }
  p {
    margin: 0;
    font-weight: bold;
  }
}
.pres {
  padding: 43px 0 57px 0;
  background-color: $couleur-section;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  width: 100%;
  &__titre {
    text-align: center;
    width: 65%;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
  }
  &__quote {
    margin: 20px 0 0 0;
    font-size: 1.06em;
    text-align: center;
    width: 83%;
  }
  &__btn {
    @include bouton-principal;
    &--menu {
      margin: 31px 0 58px 0;
    }
  }
}
.fon {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  padding: 50px 0 43px 0;
  margin-left: 10px;
  h2 {
    padding-right: 150px;
  }
  &__btn {
    @include box-shadow;
    background-color: $couleur-section;
    margin-bottom: 25px;
    border: none;
    border-radius: 20px;
    width: 320px;
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    p {
      font-weight: bold;
      font-size: 1em;
      margin-left: 27px;
    }
    img {
      @include icon-size-2;
      filter: invert(45%) sepia(91%) saturate(13%) hue-rotate(68deg)
        brightness(92%) contrast(96%);
    }
    span {
      font-family: "roboto";
      color: white;
      background-color: $couleur-primaire;
      border-radius: 10px;
      padding: 0.5px 6px;
      position: relative;
      float: left;
      right: 11px;
    }
    &--mauve {
      background-color: #f5edff;
      img {
        filter: invert(40%) sepia(68%) saturate(867%) hue-rotate(231deg)
          brightness(91%) contrast(91%);
      }
    }
  }
}
.resto {
  padding-bottom: 34px;
  background-color: $couleur-section;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  a {
    height: 250px;
    margin-bottom: 18px;
  }
  h2 {
    padding-right: 200px;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  &__lieu {
    padding: 10px 0 19px 13px;
    h3 {
      margin: 0 0 2px 0;
    }
    p {
      margin: 0;
    }
  }
  &__carte {
    width: 335px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
    img {
      width: 335px;
      height: 174px;
      object-fit: cover;
      object-position: bottom;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    &--modif {
      img {
        object-position: 0 60%;
      }
    }
  }
}

/*PAGE RESTO*/

.photo {
  width: 110%;
  height: 260px;
  background-size: cover;
  background-position: top 0 right 15px;
  background-repeat: no-repeat;
  background-image: url(/fourcadebenjamin_3_08032021/sources/img/resto_1.jpg);
  &--b {
    width: 100%;
    background-position: center;
    background-image: url(/fourcadebenjamin_3_08032021/sources/img/resto_2.jpg);
  }
  &--c {
    background-image: url(/fourcadebenjamin_3_08032021/sources/img/resto_3.jpg);
  }
  &--d {
    background-position: center;
    background-image: url(/fourcadebenjamin_3_08032021/sources/img/resto_4.jpg);
  }
  &__stripe {
    width: 91%;
    height: 40px;
    background-color: $couleur-section;
    position: relative;
    top: 220px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    &--b {
      width: 100%;
    }
  }
}
.menu {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: $couleur-section;
  h1 {
    font-family: "shrikhand";
    margin: 0 35px 0 0;
    font-size: 1.6em;
  }
  &__cat {
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: unset;
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-left: 20px;
    padding-right: 285px;
    &--pl {
      padding-right: 305px;
    }
    &--des {
      padding-right: 280px;
    }
  }
  &__under {
    width: 40px;
    height: 3px;
    background-color: $couleur-tertiaire;
    margin-bottom: 15px;
    margin-left: 20px;
    position: relative;
    right: 155px;
  }
  &__btn {
    margin-bottom: 14px;
    border-radius: 15px;
    width: 349px;
    height: 68px;
    border: none;
    background-color: white;
    text-align: left;
    @include box-shadow-2;
    span {
      font-weight: bold;
      position: relative;
      left: 290px;
      bottom: 18px;
    }
    h2 {
      letter-spacing: 0.5px;
      font-size: 1em;
      margin: 15px 0 5px 10px;
    }
    p {
      margin: 0 0 0 10px;
      font-size: 0.9em;
    }
  }
}

/*SVG-HEART*/

.g {
  &__path {
    fill: $couleur-section;
    stroke: black;
    stroke-width: 10px;
    &--acc {
      fill: transparent;
    }
  }
  rect {
    height: 100%;
    width: 100%;
    fill: transparent;
  }
}
.card {
  &--b {
    &:hover {
      cursor: pointer;
      rect {
        fill: $grd-b;
        transform: translateY(-100%);
        animation-name: test;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.64, 0.35, 1, 0.88);
      }
    }
  }
  &--c {
    &:hover {
      cursor: pointer;
      rect {
        fill: $grd-c;
        transform: translateY(-100%);
        animation-name: test;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.64, 0.35, 1, 0.88);
      }
    }
  }
  &--d {
    &:hover {
      cursor: pointer;
      rect {
        fill: $grd-d;
        transform: translateY(-100%);
        animation-name: test;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.64, 0.35, 1, 0.88);
      }
    }
  }
  &--acc {
    position: relative;
    float: right;
    bottom: 40px;
    right: 25px;
  }
  width: 20px;
  height: 20px;
  svg {
    width: 25px;
    height: 25px;
  }
  &:hover {
    cursor: pointer;
    rect {
      fill: $grd;
      transform: translateY(-100%);
      animation-name: test;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.64, 0.35, 1, 0.88);
    }
  }
}
@keyframes test {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.full-titre {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
