/*VARIABLES*/
/*LIKE-BUTTON IN HOME-PAGE
    REPETITON OF ID "GRADIENT"*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
a {
  text-decoration: none;
  color: unset;
}

html {
  overflow-x: hidden;
}

body {
  margin: auto;
  font-family: "roboto";
  width: 100%;
  overflow-x: hidden;
  font-size: 100%;
}

/*EXPLORER-NOS-RESTAURANTS*/
.homePage-button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  font-family: "roboto";
  font-weight: 600;
  background: linear-gradient(-5deg, #9356dc, #ff79da);
  margin-top: 30px;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: white;
  letter-spacing: 0.1px;
  font-size: 0.9em;
}
.homePage-button:hover {
  cursor: pointer;
  filter: opacity(0.9);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

/*COMMANDER*/
.restaurantPage-button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  font-family: "roboto";
  font-weight: 600;
  background: linear-gradient(-5deg, #9356dc, #ff79da);
  width: 186px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 0.9em;
  margin: 31px 0 58px 0;
}
.restaurantPage-button:hover {
  cursor: pointer;
  filter: opacity(0.9);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

/*LIKE-BUTTON*/
.likeButton {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}
.likeButton svg {
  width: 25px;
  height: 25px;
}
.likeButton__homepage {
  position: relative;
  float: right;
  bottom: 40px;
}
.likeButton:hover {
  cursor: pointer;
}
.likeButton:hover rect {
  fill: url(#gradient-1);
  transform: translateY(-100%);
  animation-name: gradient;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.64, 0.35, 1, 0.88);
}
.likeButton--2:hover {
  cursor: pointer;
}
.likeButton--2:hover rect {
  fill: url(#gradient-2);
  transform: translateY(-100%);
  animation-name: test;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.64, 0.35, 1, 0.88);
}
.likeButton--3:hover {
  cursor: pointer;
}
.likeButton--3:hover rect {
  fill: url(#gradient-3);
  transform: translateY(-100%);
  animation-name: test;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.64, 0.35, 1, 0.88);
}
.likeButton--4:hover {
  cursor: pointer;
}
.likeButton--4:hover rect {
  fill: url(#gradient-4);
  transform: translateY(-100%);
  animation-name: test;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.64, 0.35, 1, 0.88);
}

.group__path {
  fill: #f6f6f6;
  stroke: black;
  stroke-width: 30px;
}
.group__path--homepage {
  fill: transparent;
}
.group rect {
  height: 100%;
  width: 100%;
  fill: transparent;
}

@keyframes gradient {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
/*RESTAURANTS-PAGES*/
/*RESTAURANT-PICTURE*/
.restaurantPictureBox {
  width: 110%;
  height: 260px;
  background-size: cover;
  background-position: top 0 right 15px;
  background-repeat: no-repeat;
  background-image: url(/sources/img/resto_1.jpg);
  /*LA NOTE ENCHANTEE*/
  /*A LA FRANCAISE*/
  /*LE DELICE DES SENS*/
}
.restaurantPictureBox__bottomStripe {
  width: 91%;
  height: 40px;
  background-color: #f6f6f6;
  position: relative;
  top: 220px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.restaurantPictureBox__bottomStripe--restaurant2 {
  width: 100%;
}
.restaurantPictureBox--restaurant2 {
  width: 100%;
  background-position: center;
  background-image: url(/sources/img/resto_2.jpg);
}
.restaurantPictureBox--restaurant3 {
  background-image: url(/sources/img/resto_3.jpg);
}
.restaurantPictureBox--restaurant4 {
  background-position: center;
  background-image: url(/sources/img/resto_4.jpg);
}

/*MENU*/
.menuBox {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  /*SVG-CHECK-ANIMATION*/
  /*ITEMS-ANIMATION*/
}
.menuBox__title {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuBox__title h1 {
  font-family: "shrikhand";
  margin: 0 0 0 5px;
  font-size: 1.6em;
}
.menuBox__mainGroup {
  width: 90%;
}
.menuBox__category {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 0.9em;
  margin: 45px 0 5px 5px;
}
.menuBox__greenUnderline {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin: 0 0 15px 5px;
}
.menuBox__item {
  overflow: hidden;
  display: flex;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 17px;
  box-shadow: #e2e2e2 0px 3px 5px;
  animation: transformY 1s ease-in-out, normalMarginSpace 1s ease-in-out;
}
.menuBox__item__text {
  width: 100%;
  overflow: hidden;
}
.menuBox__item__text h2 {
  font-size: 1em;
  padding-top: 15px;
  margin: 0 0 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuBox__item__text p {
  margin: 0 0 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85em;
}
.menuBox__item__price {
  font-weight: bold;
  padding: 0 20px 9px 20px;
  display: flex;
  align-items: flex-end;
}
.menuBox__item__hoverBox {
  flex-shrink: 0;
  width: 0;
  transition: width 0.5s;
  background-color: #99e2d0;
}
.menuBox__item__hoverBox #wrap {
  padding-top: 35px;
}
.menuBox__item__hoverBox__element {
  padding-top: 25px;
  padding-left: 20px;
}
.menuBox__item__hoverBox__element svg {
  fill: white;
  width: 20px;
  height: 20px;
}
.menuBox__item:hover {
  cursor: pointer;
}
.menuBox__item:hover .menuBox__item__hoverBox {
  width: 60px;
  transition: width 0.5s;
  background-color: #99e2d0;
}
.menuBox__item:hover svg {
  animation: checkIconRoll 0.5s;
  transform: rotate(360deg);
}
@keyframes checkIconRoll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes transformY {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes normalMarginSpace {
  from {
    margin-bottom: 20px;
  }
  to {
    margin-bottom: 15px;
  }
}

/*RESPONSIVE-RESTAURANT-PICTURE*/
@media screen and (min-width: 390px) {
  .restaurantPictureBox {
    background-position: 50% 50%;
  }
}
/*HOME-PAGE-HEADER*/
.headerBox {
  display: flex;
  justify-content: center;
  padding: 22px 0 12px 0;
  /*RESTAURANTS-PAGES-HEADER*/
  /*ICON*/
}
.headerBox__logo {
  width: auto;
  height: 30px;
}
.headerBox__link a {
  position: absolute;
  left: 20px;
}
.headerBox__link a img {
  padding-top: 5px;
  height: 18px;
  width: auto;
}

.footer {
  background: #353535;
  color: white;
  padding: 10px 0 20px 0;
}
.footer h2 {
  font-family: "shrikhand";
  font-size: 1.1em;
  padding-left: 25px;
  letter-spacing: 0.5px;
}
.footer ul {
  padding-left: 25px;
}
.footer li {
  list-style-type: none;
  margin-bottom: 8px;
}
.footer li img {
  margin-right: 12px;
  width: 13px;
  height: 13px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(160deg) brightness(119%) contrast(119%);
}

/*LOADING-SPINNER*/
.loading-SpinnerBox {
  width: 0%;
  height: 0vh;
  background-color: #f6f6f6;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: main_box 3500ms cubic-bezier(1, -1, 1, 50);
  /*SVG-FORK*/
  /*SVG-KNIFE*/
  /*CENTRAL-CIRCLE*/
}
.loading-SpinnerBox__fork {
  margin-left: 60px;
}
.loading-SpinnerBox__fork svg {
  height: 100px;
  fill: rgba(147, 86, 220, 0.5);
}
.loading-SpinnerBox__knife {
  margin-right: 60px;
}
.loading-SpinnerBox__knife svg {
  height: 100px;
  fill: rgba(147, 86, 220, 0.5);
  transform: scaleX(-1);
}
.loading-SpinnerBox__circle {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.loading-SpinnerBox__circle__border {
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9356dc;
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.1) 33%, rgba(255, 121, 218, 0.5) 100%);
  animation: circle 1s linear 3;
}
.loading-SpinnerBox__circle__core {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 50%;
}

/*BOX-KEYFRAMES*/
@keyframes main_box {
  0% {
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
  20% {
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
  40% {
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
  60% {
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
  80% {
    width: 100%;
    height: 100vh;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*CIRCLE-KEYFRAMES*/
@keyframes circle {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
/*ACCUEIL*/
/*_HEADER.SCSS*/
/*LOCALISATION*/
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 16px 30px 16px 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px 0px inset;
}
.localisation img {
  height: 16px;
  margin-right: 18px;
}
.localisation p {
  margin: 0;
}

/*PRESENTATION*/
.presentation {
  padding: 43px 0 57px 0;
  background-color: #f6f6f6;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
}
.presentation__title {
  text-align: center;
  width: 67%;
  margin: 0;
  letter-spacing: -0.5px;
}
.presentation__quote {
  margin: 20px 0 0 0;
  font-size: 1.06em;
  text-align: center;
  width: 83%;
  color: #353535;
}

/*FONCTIONNEMENT*/
.fonctionnement {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  padding: 50px 5px 43px 5px;
}
.fonctionnement .fonctionnement__title {
  display: flex;
  align-self: flex-start;
  margin: 0 0 30px 15px;
}
.fonctionnement .fonctionnement__title h2 {
  margin: 0;
}
.fonctionnement__box {
  width: 90%;
}
.fonctionnement__box__item {
  box-shadow: 0 8px 20px 0 rgba(68, 68, 68, 0.2);
  background-color: #f6f6f6;
  margin-bottom: 25px;
  border-radius: 20px;
  height: 70px;
  display: flex;
  align-items: center;
}
.fonctionnement__box__item p {
  padding-top: 3px;
  font-weight: bold;
  margin-left: 27px;
}
.fonctionnement__box__item img {
  width: 30px;
  height: 18px;
  filter: invert(45%) sepia(91%) saturate(13%) hue-rotate(68deg) brightness(92%) contrast(96%);
}
.fonctionnement__box__item span {
  color: white;
  background-color: #9356dc;
  border-radius: 10.5px;
  padding: 2px 6px 1px 6px;
  position: relative;
  right: 10px;
  font-size: 0.8em;
}
.fonctionnement__box__item--colorpurple {
  background-color: #f5edff;
}
.fonctionnement__box__item--colorpurple img {
  filter: invert(40%) sepia(68%) saturate(867%) hue-rotate(231deg) brightness(91%) contrast(91%);
}

/*RESTAURANTS-CARDS*/
.restaurantsBox {
  padding: 0 20px 46px 20px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  /*RESTAURANTS-CARDS*/
}
.restaurantsBox a {
  margin-bottom: 18px;
}
.restaurantsBox__nouveau {
  float: right;
  position: relative;
  bottom: 175px;
  right: 12px;
  padding: 8px 13px;
  border-radius: 3px;
  font-size: 0.8em;
  background-color: #99e2d0;
  color: #008766;
  font-weight: bold;
}
.restaurantsBox h2 {
  margin: 50px 0 25px 0;
}
.restaurantsBox__card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 20px 0 rgba(46, 46, 46, 0.2);
}
.restaurantsBox__card img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  object-position: bottom;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurantsBox__card--imgModification img {
  object-position: 0 60%;
}
.restaurantsBox__localisation {
  padding: 10px 0 19px 13px;
}
.restaurantsBox__localisation h3 {
  margin: 0 0 2px 0;
}
.restaurantsBox__localisation p {
  margin: 0;
}

@media screen and (min-width: 390px) {
  .restaurantsBox__card img {
    object-position: 50% 50%;
  }
}
/*_FOOTER.SCSS*/

/*# sourceMappingURL=main.css.map */
