@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

/*CSS*/

a {
  text-decoration: none;
  color: unset;
}

body {
  margin: auto;
  font-family: "roboto";
  width: 100%;
}
