/*LOADING-SPINNER*/
.Loading-SpinnerBox {
  width: 0%;
  height: 0vh;
  background-color: $couleur-section;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: main_box 3500ms cubic-bezier(1, -1, 1, 50);
  /*SVG-FORK*/
  &__fork {
    margin-left: 60px;
    svg {
      height: 100px;
      fill: rgba(147, 86, 220, 0.5);
    }
  }
  /*SVG-KNIFE*/
  &__knife {
    margin-right: 60px;
    svg {
      height: 100px;
      fill: rgba(147, 86, 220, 0.5);
      transform: scaleX(-1);
    }
  }
  /*CENTRAL-CIRCLE*/
  &__circle {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    &__border {
      width: 150px;
      height: 150px;
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $couleur-primaire;
      background: linear-gradient(
        0deg,
        rgba(147, 86, 220, 0.1) 33%,
        rgba(255, 121, 218, 0.5) 100%
      );

      animation: circle 1s linear 0s 3;
    }
    &__core {
      width: 100%;
      height: 100%;
      background-color: $couleur-section;
      border-radius: 50%;
    }
  }
}
/*BOX-KEYFRAMES*/
@keyframes main_box {
  0% {
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
  20% {
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
  40% {
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
  60% {
    width: 100%;
    height: 100vh;
    opacity: 1;
  }
  80% {
    width: 100%;
    height: 100vh;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*CIRCLE-KEYFRAMES*/
@keyframes circle {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
