@mixin box-shadow {
  box-shadow: 0 8px 20px 0 rgba(68, 68, 68, 0.2);
}
@mixin homePageButton {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  font-family: "roboto";
  font-weight: 600;
  background: linear-gradient(-5deg, $primary-color, $secondary-color);
  margin-top: 30px;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: white;
  letter-spacing: 0.1px;
  font-size: 0.9em;
}
@mixin restaurantPageButton {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  font-family: "roboto";
  font-weight: 600;
  background: linear-gradient(-5deg, $primary-color, $secondary-color);
  width: 186px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 0.9em;
}
