/*VARIABLES*/

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$footer-color: #353535;
$section-color: #f6f6f6;

/*LIKE-BUTTON IN HOME-PAGE
    REPETITON OF ID "GRADIENT"*/

$gradient1: url(#gradient-1);
$gradient2: url(#gradient-2);
$gradient3: url(#gradient-3);
$gradient4: url(#gradient-4);
